// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #094BAE;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light: #F5F5F5;

$badge-border-radius: 1rem;
$badge-font-weight: lighter;

.badge {
    padding: 0.25rem 1rem 0.25rem 1rem !important;
}

.badge-secondary {
    background-color: #e8e8e8 !important;
    color: #6e6e6e !important;
}

.badge-secondary:hover {
    background-color: #d1d1d1 !important;
}

.card {
    border-color: #f0f0f0 !important;
    border-radius: 0.5rem !important;
}